html, body, * {margin:0; padding:0;}

body {
    /*font-family: "Fira Mono", "Helvetica Neue";*/
    font-weight: 400;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(245, 163, 66, 0.2);
}

.product-img-container {
    width:100%;
    height:100%;
    position:relative;
}

.product-img-container img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.table-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.background-add-Admin{
    background-color: rgb(227, 227, 227);
}

.login-img{
    height: 100%;
}

.login-img-div{
   width: 33%;
    height: 99%;
}
.login-champ{
    justify-content:space-around;
    height:100%;
}
.login-champ-use{
    margin-bottom: 30px;
}
.login-champ-pwd{
    margin-top: 30px;
}
.bg-light-custome{
    background-color: rgba(199, 199, 199, 0.19);
}
.img-navBar{
    height: 30px;
    margin-right: 20px;
}